/*body {*/
/*background: #fff;*/
/*}*/
body {
    max-width: 28rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.reply_index, ._edit_tools {
    max-width: 28rem;
    margin: 0 auto;
}

.footer-bar {
    max-width: 28rem;
    margin: 0 auto;
}

cite, dfn, em, var {
    font-style: normal;
}

p {
    margin: 0;
    padding: 0;
}

.n, em {
    font-weight: 400;
    font-style: normal;
}

.slick-slider {
    margin-bottom: 0px !important;
    padding-bottom: 30px;
}

.ianmi-slider {
    background-color: #fff;
    padding: 10px 15px 0 15px;
}

.slider-img {
    border-radius: 5% !important;
    display: block;
    width: 100%;
}

.slick-next {
    right: 0 !important;
}

.slick-prev {
    left: 0 !important;
}

.ianmi-slider img.slick-loading {
    border: 0
}

.ianmi-slider .slick-dots {
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 100%;
    text-align: center;
    z-index: 4;
}

.ianmi-slider a h3 {
    font-size: 16px;
    color: #fff;
    line-height: 1.5em;
    font-weight: 400;
    padding: 0 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 6px 6px !important;
}

.ianmi-category {
    overflow: hidden;
    padding-top: 0px !important;
    margin-bottom: 10px;
    background-color: #fff;
}

.wp {
    padding: 0 18px;
}

.ul-imgtxt1 {
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 14px;
}

ul, ol {
    list-style: none;
}

.ul-imgtxt1 li {
    float: left;
    width: 20%;
    overflow: hidden;
}

.ul-imgtxt1 li a {
    display: block;
}

a {
    text-decoration: none;
    color: #2d374b;
    -webkit-tap-highlight-color: none;
}

.ul-imgtxt1 .pic {
    width: 43px;
    height: 43px;
    overflow: hidden;
    margin: 0 auto 1px;
    border-radius: 10px;
}

.ul-imgtxt1 h3 {
    font-size: 12px;
    color: #333;
    line-height: 1.42em;
    text-align: center;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ianmi-category .bot {
    overflow: hidden;
    margin-bottom: 15px;
    /*border-bottom: 15px solid #eeeeee;*/
}

.ianmi-category .bot .l {
    margin-right: -15px;
}

.ianmi-category .bot .l span {
    margin-right: 15px;
}

.ianmi-category .bot span {
    display: block;
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    overflow: hidden;
}

.ianmi-category .bot span em {
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    color: #0cbb73;
    overflow: hidden;
    margin-right: 3px;
    background-color: rgba(12, 187, 115, .1);
    border-radius: 11px;
    margin-top: -2px;
}

._index_nav {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #eeeeee;
    position: sticky;
    top: 50px;
    z-index: 99;
}

.nickname {
    position: relative;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}

.cate-item {
    position: absolute;
    right: 12px;
    top: 14px;
    display: block;
    width: 92px;
    height: 22px;
    background-color: rgba(12, 187, 115, .1);
    color: #0cbb73;
    border-radius: 11px;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    overflow: hidden;
    margin-left: 10px;
}

.list-care {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #eeeeee;
}

.img_list {
    background: #fff;
    padding: 0 5px;
}

.foot-nav {
    background-image: url(../img/tieba_x11_sp_wap.png);
    background-repeat: no-repeat;
    -webkit-background-size: 384px auto;
    -moz-background-size: 384px auto;
    -ms-background-size: 384px auto;
    -o-background-size: 384px auto;
    background-size: 384px auto;
}

.footer-bar i {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 auto 1px;
    position: relative;
}

.footer-bar_item {
    color: #8e8e8e !important;
}

.footer-bar .footer-bar_item.active {
    font-size: 14px;
    color: #32393e !important;
}

.footer-bar_item .i1 {
    background-position: -183px -242px;
}

.footer-bar_item .i2 {
    background-position: -114px -82px;
}

.footer-bar_item .i3 {
    width: 71px;
    height: 61px;
    background-position: -7px -10px;
    margin-top: -2px;
}

.footer-bar_item .i4 {
    background-position: -111px -242px;
}

.footer-bar_item .i5 {
    background-position: -41px -278px;
}

.footer-bar .footer-bar_item.active .i1 {
    background-position: -218px -242px;
}

.footer-bar .footer-bar_item.active .i2 {
    background-position: -330px -1px;
}

.footer-bar .footer-bar_item.active .i3 {
    width: 71px;
    height: 61px;
    background-position: -7px -10px;
    margin-top: -2px;
}

.footer-bar .footer-bar_item.active .i4 {
    background-position: -6px -242px;
}

.footer-bar .footer-bar_item.active .i5 {
    background-position: -75px -278px;
}

.lazyload {
    color: #888888;
}

.list-care .text .context {
    overflow: hidden;
    font-size: 16px;
    color: #333;
    line-height: 1.56em;
    margin-bottom: 9px;
}

.header-bar .header-title {
    font-weight: 400;
}

.view_title {
    font-size: 18px;
    color: #333;
    line-height: 1.56em;
    overflow: hidden;
    margin-bottom: 8px;
    font-weight: 700;
}

.view_head .info {
    overflow: hidden;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 5px;
}

.view_head .info .ll {
    overflow: hidden;
    margin-left: -8px;
}

.view_head .info .rr {
    float: right;
    display: block;
    width: 92px;
    height: 22px;
    background-color: rgba(103, 175, 238, .1);
    border-radius: 11px;
    text-align: center;
    font-size: 12px;
    color: #67afee;
    line-height: 22px;
    overflow: hidden;
}

.view_head .info .ll span {
    display: block;
    float: left;
    font-size: 12px;
    color: #999;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
}

.view_head .info .ll span:after {
    content: '';
    width: 1px;
    height: 11px;
    background-color: #eeeeee;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.view_head .info .rr a {
    color: #67afee;
}

.view_user_info {
    padding: 0 !important;
}

.view_user_info .top {
    overflow: hidden;
    margin-bottom: 11px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flw {
    display: block;

    width: 73px;
    height: 30px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #0cbb73;
    text-align: center;
    font-size: 14px;
    color: #0cbb73;
    line-height: 28px;
}

.view_user_info .con {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.view_user_info .con .pic {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 7px;
}

.view_user_info .con .pic a {
    display: block;
}

.view_user_info .con .pic img {
    display: block;
    width: 100%;
    height: 100%;
}

.view_user_info .con .rr {
    overflow: hidden;
    font-size: 12px;
    color: #999;
    line-height: 1.42em;
}

.view_user_info .con .rr h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43em;
    margin-bottom: 3px;
}

.view_user_info .con .rr h3 a {
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.view_user_info .con .rr h3 span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 65px;
    height: 17px;
    border-radius: 2px;
    background-color: #d7c39c;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
    text-align: center;
    margin-top: -2px;
    overflow: hidden;
}

.view_user_info .con .rr h3 span i {
    display: inline-block;
    vertical-align: middle;
    width: 8.5px;
    height: 11px;
    background-position: -361px -264px;
    margin-top: -2px;
    margin-right: 2px;
}

.view_user_info .con .rr h3 em {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 17px;
    border-radius: 2px;
    background-color: rgba(12, 187, 115, .1);
    margin-left: 4px;
    margin-top: -2px;
    font-size: 12px;
    color: #0cbb73;
    text-align: center;
    line-height: 17px;
}

.view_context_cus {
    overflow: hidden;
    font-size: 16px;
    color: #333;
    line-height: 1.56em;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

.view_context_cus p {
    margin: 15px 0;
}

.view_context_cus img {
    max-width: 100%;
}

.btn_reply {
    background: #0cbb73;
    color: #fff;
}

.loading-gif {
    width: 100%;
    height: 100%;
}

.g-userTop {
    color: #fff;
    padding: 60px 20px;
    background: #09b46e url(../img/bg_user.png) no-repeat 0 bottom/ 100% auto;
    overflow: hidden;
}

.g-userTop .tx {
    float: left;
    width: 55px;
    height: 55px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 18px;
}

.g-userTop .con {
    overflow: hidden;
}

.g-userTop .s-btn {
    float: right;
    width: 30px;
    height: 30px;
    background: #04A764;
    border-radius: 50%;
    margin-top: 12px;
}

.g-userTop .s-btn i {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/icon_set.png) no-repeat center center/16px auto;
}

.g-userTop .nike {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

.g-userTop .renz {
    line-height: 22px;
    padding: 0 12px;
    background: #04A764;
    border-radius: 11px;
    display: inline-block;
}

.g-userTop .renz i {
    width: 6px;
    height: 6px;
    display: inline-block;
    background: url(../img/icon_v.png) no-repeat center center/6px auto;
}

.zoon-head .header-bar {
    background: transparent;
    color: #fff;
    box-shadow: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: none;
}

.g-box1 {
    padding: 0 20px;
}

.g-userInfo {
    color: #666;
    line-height: 15px;
    text-align: center;
    padding: 18px 0;
    background: #fff;
    box-shadow: 0px 5px 30px 0px rgba(163, 163, 163, 0.2);
    border-radius: 4px;
    margin-top: -41px;
    margin-bottom: 10px;
}

.g-userInfo ul {
    overflow: hidden;
}

.g-userInfo ul li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.g-userInfo li {
    float: left;
    text-align: center;
    width: 25%;
    position: relative;
}

.g-userInfo .price {
    color: #333;
    font-size: 20px;
    line-height: 27px;
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    text-align: center;
}

.g-userInfo a {
    color: #666;
    display: block;
}

.g-userInfo li:nth-child(2)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #eaeaea;
}

.g-userInfo .icon {
    height: 27px;
    display: block;
    margin: 0 auto 3px;
}

.g-btn3 {
    color: #999;
    font-size: 14px;
    height: 30px;
    width: 135px;
    text-align: center;
    line-height: 30px;
    background: #f7f7f7;
    border-radius: 21px;
    display: block;
    margin: 20px auto;
}

.g-tit1 .more .gt, .g-btn3 .gt {
    width: 5px;
    display: inline-block;
    background: url(../img/a1.png) no-repeat center center/5px auto;
    margin-left: 7px;
    height: 9px;
    vertical-align: middle;
}

.house_nomore {
    border-top: 1px solid #eaeaea;
    padding: 15px 0;
    line-height: 32px;
    font-size: 14px;
    color: #aaa;
    text-align: center;
}

.house_nomore .nofind img {
    display: block;
    width: 180px;
    margin: 20px auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.header-bar {
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}

.sys_right_fixed {
    position: fixed;
    right: 10px;
    bottom: 90px;
    z-index: 99;
}

.sys_right_fixed li {
    width: 50px;
    height: 50px;
}

.sys_right_fixed .fare .ico {
    background-position: 0 -959px;
}

.sys_right_fixed li .ico {
    width: 50px;
    height: 50px;
    background: url(../img/headIcon.png) no-repeat 0 0/100px auto;
}

/*文本图标*/
.icon-text .ding {
    background: linear-gradient(135deg, rgba(149, 197, 255, 1) 0, rgba(92, 163, 255, 1) 100%);
}

.icon-text .re {
    background: linear-gradient(135deg, rgba(255, 188, 188, 1) 0, rgba(255, 135, 135, 1) 100%);
}

.icon-text em {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 17px;
    background: linear-gradient(135deg, rgba(255, 221, 149, 1) 0, rgba(255, 185, 92, 1) 100%);
    border-radius: 9px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    margin-top: -2px;
    margin-right: 4px;
}

/*文章样式*/
#contentEditor {
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    padding: 10px;
    color: #444;
}

#contentEditor p {
    letter-spacing: 0.25px;
    font: 16px/25px Tahoma, Verdana, 宋体;
    margin: 20px 0px;
}

#contentEditor h4 {
    font-weight: bold;
    line-height: 1.333em;
    margin: 10px 0 20px;
    padding: 25px 0 0;
}

#contentEditor img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.face-chat {
    max-width: 1.5rem !important;
    height: auto !important;
}

.dempTip {
    border-left: 2px solid #00BCD4;
    padding-left: 5px;
    margin: 10px;
    font-size: 16px;
}

code {
    white-space: pre-wrap;
    background: #2D2D2D;
    display: block;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
}

.viewTit {
    color: #FF5722;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    background: #FFEB3B;
    box-shadow: 0 0 5px;
}

.Eleditor-controller {
    z-index: 99;
}

.bbs-vip {
    width: auto !important;
    line-height: 22px;
    padding: 0 5px;
}

.bbs-vip i {
    width: 6px;
    height: 6px;
    display: inline-block;
    background-position: 0 2px !important;
    background: url(../img/icon_v.png) no-repeat center center/6px auto;
}